<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#with article}}

{{#each articles}}
    <div class="thumbnail">
        <div class="caption">
            <h3>{{ this.title }}</h3>
            <br>
            <small> {{ this.author }} </small>
            <br>
            <p class="intro">{{ this.intro }}</p>
            <p class="url">{{ this.url }}</p>
            <p class="image">{{ this.image }}</p>
            <p class="date">{{ this.date }}</p>
        </div>
    </div>
{{/each}}

{{/with}}
{{#each articles}}
    <div class="thumbnail">
        <div class="caption">
            <h3>{{ this.title }}</h3>
            <br>
            <small> {{ this.author }} </small>
            <br>
            <p class="intro">{{ this.intro }}</p>
            <p class="url">{{ this.url }}</p>
            <p class="image">{{ this.image }}</p>
            <p class="date">{{ this.date }}</p>
        </div>
    </div>
{{/each}}