<section class="article" data-action="article">
    {{#each articles}}
        <article class="article__item">
            <h3 class="article__title">{{this.title}}</h3>
            <h4 class="article__subtitle">{{this.author}}</h4>
            <p class="text article__date">{{this.date}}</p>
            <p class="text article__intro">{{this.intro}}</p>
            <div class="article__img-container">
                <img src="/images/{{this.image}}" alt="{{this.title}}" class="article__img">
            </div>
            <a href="{{this.url}}" class="article__link" target="_blank">Ver artículo</a>
        </article>
    {{/each}}
</section>
