{{#is class 'services'}}
    <section id="{{class}}" class="fragment fragment--{{class}} container" data-action="fragment">
        <h2 class="logo__text">IPN</h2>
        <p class="text">Nuestra Misión es guiar a nuestros clientes en la implementación de las mejores prácticas de productividad, competitividad y continuidad del negocio.</p>
        <p class="text">Nuestra Visión es ser reconocidos internacionalmente como expertos en innovación de modelos de negocios. </p>
        <p class="text">Nuestros Valores son la confiabilidad, el servicio excepcional y la garantía de resultados.</p>
        <h2 class="fragment__title">Acompañamiento</h2>
        <p class="text">Realizamos un diagnóstico técnico para analizar su arquitectura empresarial e identificar las brechas con respecto a las mejores prácticas, valorando las capacidades y competencias existentes. Guiamos en la definición y ejecución del Plan de Acción con las prioridades estratégicas e indicadores claves de desempeño.</p>
        <p class="text">Conozca nuestra Universidad Corporativa para la Innovación</p>
        <a class="fragment__title" href="http://universidaddeinnovacion.com/moodle30/" target="_blank">Universidad de innovación</a>
    </section>
{{/is}}
{{#is class 'gallery'}}
    <section id="{{class}}" class="fragment fragment--alt fragment--{{class}} container" data-action="fragment">
        <h2 class="fragment__title">Portafolio</h2>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">ISO 20 000</h3>
            <h4 class="fragment__gallery-subtitle">Sistema de Gestión de Servicios</h4>
            <p class="text">Gestione sus proveedores eficientemente.</p>
            <p class="text">Asegure que su infraestructura soporte su negocio.</p>
            <p class="text">Gestione las solicitudes, incidentes y problemas de TI.</p>
            <p class="text">Desarrolle SLAs.(Service Level Agreements)</p>
        </div>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">ISO 9001:2015</h3>
            <h4 class="fragment__gallery-subtitle">Sistema de Gestión de Calidad</h4>
            <p class="text">Asegure a todas las partes interesadas que se cumplen sus requisitos. Implemente controles que agreguen valor. Gestione la experiencia del cliente;Incorpore indicadores de desempeño que le puedan dar información valiosa para toma de decisiones. Implemente procesos formales de Auditoría Interna que potencialicen la mejora continua.</p>
        </div>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">Plan de Continuidad de TI</h3>
            <h4 class="fragment__gallery-subtitle">Desarrollo e implementación</h4>
            <p class="text">Asegure la continuidad de los servicios de TI.</p>
            <p class="text">Defina la estrategia para contingencia y recuperación de desastres.</p>
        </div>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">ISO 31000</h3>
            <h4 class="fragment__gallery-subtitle">Gestión de Riesgos</h4>
            <p class="text">Asegure la continuidad de su servicio. Opere en condiciones seguras. Gestione su riesgo estratégico y operativo.</p>
        </div>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">Ingeniería de Procesos</h3>
            <h4 class="fragment__gallery-subtitle">Excelencia Operacional</h4>
            <p class="text">Hacemos más productiva y eficiente su organización.</p>
            <p class="text">Reduzca sus costos. Elimine gastos innecesarios.</p>
            <p class="text">Mejore significativamente el Servicio.</p>
        </div>
        <div class="fragment__gallery-item">
            <h3 class="fragment__gallery-title">Gestión Estratégica</h3>
            <h4 class="fragment__gallery-subtitle">Innovación del Modelo de Negocios</h4>
            <p class="text">Diseño de propuesta de valor competitiva y sostenible.</p>
            <p class="text">Generación de ScoreCards para seguimiento y control.</p>
            <p class="text">Gestione las solicitudes, incidentes y problemas de TI.</p>
            <p class="text">Desarrolle SLAs.(Service Level Agreements)</p>
        </div>
    </section>
{{/is}}
{{#is class 'more-info'}}
    <section id="{{class}}" class="fragment fragment--{{class}} container" data-action="fragment">
        <h2 class="fragment__title">Más información</h2>
        <div class="fragment__more">
            <h3 class="fragment__subtitle">Continuidad del negocio</h3>
            <p class="text">Identifique los eventos que pueden impactar la continuidad de las operaciones. Determine los tiempos críticos de recuperación. Identifique los puntos más débiles de la infraestructura, susceptibles de sufrir un incidente y afectar la continuidad.</p>
        </div>
        <div class="fragment__more">
            <h3 class="fragment__subtitle">Capital de Clientes</h3>
            <p class="text">Rentabilice su cartera de clientes.</p>
            <p class="text">Diseño y Monitoreo de Experiencia del cliente.</p>
            <p class="text">Asegure experiencias memorables para los usuarios.</p>
            <p class="text">Implemente procesos formales de gestión de quejas y garantías</p>
        </div>
    </section>
{{/is}}